# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
next-env.d.ts

# production
build/

# typescript
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# nix / direnv
.direnv/
result
result-*

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem

# deployment
.vercel

# test
coverage/

# editors
.idea/
.vscode/
